header{
    background-color: gray;
    color: aliceblue;
    text-align: center;
}
#cuerpo{
    background-color: burlywood;
    text-align: center;
}
#botones{
    text-align: center;
}
#edad{
    background-color: blue;
    color: aliceblue;
}
#altura{
    background-color: blue;
    color: aliceblue;
}
#peso{
    background-color: blue;
    color: aliceblue;
}
#imc{
    background-color: blue;
    color: aliceblue;
}
#nivel{
    background-color: blue;
    color: aliceblue;
}
#list{
    background-color: aqua;
}